.card{
    width:300px;
    height: 150px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px #CCC;
    padding: 20px;
}
.card:hover{
    background-color: #EEE;
}
.control-section{
    float:right;
}